	<section id="item-grid" data-section="work">
		<div class="container">

			{{ range .Params.sections }}

				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate">{{ .name }}</h2>
					</div>
				</div>

				{{ range .items }}

					{{ if (isset . "show") }}
					<div class="col-md-4 col-sm-6 col-xxs-12">
						<a href="{{ .url }}" class="item-grid-item to-animate">
							<img src="./{{ .image }}" alt="{{ .alt }}" class="img-responsive">
							<div class="item-grid-item-text">
							<h2>{{ .name }}</h2>
							<span>{{ .brief }}</span>
							</div>
						</a>
					</div>
					<div class="clearfix visible-sm-block"></div>
					{{ end }}

				{{ end }}

			{{ end }}
			</div>
			<div class="row">
				<div class="col-md-12 text-center to-animate">
					<p>{{ .Params.work.footertext | markdownify }}</p>
				</div>
			</div>

	</section>
