	<section id="fh5co-services" data-section="services">
		<div class="container">
			<div class="row">
			{{ range .Params.resources }}
				<div class="col-md-6 col-sm-6 fh5co-service to-animate">
					{{ if (isset . "link") }}<a href="{{ .link }}">{{ end }}
					<i class="icon to-animate-2 {{ .icon | markdownify }}"></i>
					{{ if (isset . "link") }}
					  </a>
						<a href="{{ .link }}">
					{{ end }}
					<h3>{{ .title | markdownify }}</h3>
					{{ if (isset . "link") }}</a>{{ end }}
					<p>{{ .description | markdownify }}</p>
				</div>
				<div class="clearfix visible-sm-block"></div>
			{{ end }}
			</div>
		</div>
	</section>
