	<section id="intro">
		<div class="container">
			<div class="row row-bottom-padded-lg">
				{{ range .Params.trio }}
				<div class="section-block to-animate" style="background-image: url(images/{{ .img }});">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="item-grid-item-text">
						<i class="intro-icon {{ .icon }}"></i>
						<h2>{{ .title }}</h2>
						<p>{{ .description }}</p>
						{{ if .button}}
						<p><a href="{{ .url }}" class="btn btn-primary">{{ .button}}</a></p>
						{{ end }}
					</div>
				</div>
				{{ end }}
			</div>
		</div>
	</section>
